<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Create shipment</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f48024;">

    <div class="navbar-brand" id="logoBox">
        <img src="/images/truckLogo.png" width="38" height="33" class="d-inline-block align-top" alt="">
        TruckManager
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    My company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/trucks">Trucks <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Available trips</a>
            </li>
            <li class="nav-item active" id="balanceItem">
                <span class="nav-link" th:text="${balance}">Balance</span>
                <!--                After replace it with link to balance module-->
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right" id="rightDropdown">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span th:text="${username}">UserNickName</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="logout" href="/logout">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div th:switch="${shipments}">
    <h3 th:case="null">You have no available shipments now</h3>
    <div th:case="*">
        <table class="table table-hover">
            <thead>
            <tr class="headT">
                <th class="shipmentHead" scope="col">Arrival City</th>
                <th class="shipmentHead" scope="col">Distance</th>
                <th class="shipmentHead" scope="col">Delivery Income</th>
                <th class="shipmentHead" scope="col">Category</th>
                <th class="shipmentHead" scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shipment : ${shipments}">
                <form class="shipment-form" th:action="@{/create-shipment}" method="post">
                    <input hidden="hidden" readonly type="number" th:name="truckId" th:value="${shipment.truckId}"/>
                    <input hidden="hidden" readonly type="number" th:name="companyId" th:value="${shipment.companyId}"/>
                    <input hidden="hidden" readonly type="number" th:name="departureLocationId" th:value="${shipment.departureLocationId}"/>
                    <input hidden="hidden" readonly type="number" th:name="arrivalLocationId" th:value="${shipment.arrivalLocationId}"/>
                    <td class="shipmentContent"><input class="shipmentReadonly" readonly type="text" th:name="arrivalLocationCity" th:value="${shipment.arrivalLocationCity}"/></td>
                    <td class="shipmentContent"><input class="shipmentReadonly" readonly type="number" th:name="distance" th:value="${shipment.distance}"/></td>
                    <td class="shipmentContent"><input class="shipmentReadonly" readonly type="number" th:name="income" th:value="${shipment.income}"/></td>
                    <td class="shipmentContent"><input class="shipmentReadonly" readonly type="text" th:name="category" th:value="${shipment.category}"/></td>
                    <td class="shipmentContent"><button class="btn btn-primary btn-sm" id="detailsButton" type="submit">Take this order</button></td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

<style>
    #rightDropdown {
        padding-right: 10%;
    }

    .dropdown-item:hover {
        background-color: #ffc396;
    }

    .nav-item:hover {
        background-color: #ff995c;
    }

    #logout {
        background-color: #ff613f;
    }

    #logoBox {
        padding-bottom: 6px;
    }

    #balanceItem:hover {
        background-color: #f48024;
    }

    #balanceItem {
        padding-left: 150px;
    }

    .shipmentHead {
        text-align: center;
        background-color: #cdcdcd;
    }

    .shipmentContent {
        text-align: center;
    }

    .shipmentReadonly {
        border: none;
        background-color: inherit;
        text-align: center;
    }

    #detailsButton {
        background-color: #ff995c;
    }

    #detailsButton:hover {
        background-color: #f48024;
    }

</style>