<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Homepage</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f48024;">

    <div class="navbar-brand" id="logoBox">
        <img src="/images/truckLogo.png" width="38" height="33" class="d-inline-block align-top" alt="">
        TruckManager
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logs">Company logs</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/trucks">Trucks <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shipments">Shipments</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/truckstore">Truck store</a>
            </li>
            <li class="nav-item active" id="balanceItem">
                <span class="nav-link" th:text="${balance}">Balance</span>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right" id="rightDropdown">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${username}">UserNickName</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="logout" href="/logout">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<table id="logsTable" class="table table-hover">
    <thead>
    <tr class="headT">
        <th class="col-xs-5 logHead" scope="col">Date and time</th>
        <th class="col-xs-7 logHead" scope="col">Log content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="log : ${data}">
        <td class="logContent" th:text="${log.logTime}"></td>
        <td class="logContent" th:text="${log.logText}"></td>
    </tr>
    </tbody>
</table>

<ul class="nav nav-pills" th:if="${showPages}">
    <li class="nav-item" th:each="i : ${#numbers.sequence(1,data.totalPages)}">
        <a th:href="@{/logs/(page=${i})}" th:text="${i}" class="nav-link" th:classappend="${currentPage}==${i}?'active':''"></a>
    </li>
</ul>

</body>
</html>

<style>
    #rightDropdown {
        padding-right: 10%;
    }
    .dropdown-item:hover {
        background-color: #ffc396;
    }

    .nav-item:hover {
        background-color: #ff995c;
    }

    #logout {
        background-color: #ff613f;
    }

    #logoBox {
        padding-bottom: 6px;
    }

    #balanceItem:hover {
        background-color: #f48024;
    }

    #balanceItem {
        padding-left: 150px;
    }

    .logHead {
        text-align: center;
        background-color: #cdcdcd;
    }

    .logContent {
        text-align: center;
    }

</style>