<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Truck store</title>
</head>
<body>
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f48024;">

    <div class="navbar-brand" id="logoBox">
        <img src="/images/truckLogo.png" width="38" height="33" class="d-inline-block align-top" alt="">
        TruckManager
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    My company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/trucks">Trucks <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shipments">Shipments</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/truckstore">Truck store</a>
            </li>
            <li class="nav-item active" id="balanceItem">
                <span class="nav-link" th:text="${balance}">Balance</span>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right" id="rightDropdown">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span th:text="${username}">UserNickName</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="logout" href="/logout">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="alert alert-danger" role="alert" id="notEnoughBalance">
    Not enough balance to buy this truck
</div>
<div class="alert alert-success" role="alert" id="success">
    Not enough balance to buy this truck
</div>
<div th:each="truck : ${trucks}">
    <div class="card" style="width: 25rem;">
        <!--    <img class="card-img-top" src="" alt="Card image cap">-->
        <div class="card-body">
            <input hidden="hidden" readonly type="number" id="newTruckId" th:value="${truck.id}"/>
            <h5 class="card-title" th:text="${truck.model}"></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Maximum load</td>
                        <td th:text="${truck.maxLoad}"></td>
                    </tr>
                    <tr>
                        <td>Fuel consumption</td>
                        <td th:text="${truck.fuelConsumption}"></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td th:text="${truck.price}"></td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <div class="card-body">
            <div class="buyDiv">
                <button type="button" class="btn btn-secondary buyButton" th:id="${truck.id}">Buy truck</button>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#notEnoughBalance').hide();
        $('#success').hide();

        $('.card-body .buyButton').on('click', function (event) {
            $('#success').hide();
            var truckId = $(this).attr('id');
            var checkBalanceLink = "check-balance/" + truckId;
            var buyTruckLink = "buy-truck";

            $.get(checkBalanceLink, function (response) {
                if (response == true) {
                    $.ajax({
                        type: "POST",
                        url: buyTruckLink,
                        data: {truckId: truckId},
                        success: function (result) {
                            $('#success').show();
                            //$(window).attr('location','/trucks')
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("An error occurred during buying a truck");
                        }
                    });
                } else {
                    $('#notEnoughBalance').show();
                }
            });
        });
    });
</script>

</body>
</html>

<style>
    #rightDropdown {
        padding-right: 10%;
    }

    .dropdown-item:hover {
        background-color: #ffc396;
    }

    .nav-item:hover {
        background-color: #ff995c;
    }

    #logout {
        background-color: #ff613f;
    }

    #logoBox {
        padding-bottom: 6px;
    }

    #balanceItem:hover {
        background-color: #f48024;
    }

    #balanceItem {
        padding-left: 150px;
    }

    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        margin-top: 2rem;
    }

    .list-group-item {
        padding: inherit;
    }

    .table {
        margin-bottom: inherit;
    }

    .btn-primary {
        background-color: #ff995c;
    }

    .btn-primary:hover {
        background-color: #f48024;
    }

</style>
