<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Trucks</title>
</head>
<body>

<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f48024;">

    <div class="navbar-brand" id="logoBox">
        <img src="/images/truckLogo.png" width="38" height="33" class="d-inline-block align-top" alt="">
        TruckManager
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    My company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logs/?page=1">Company logs</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/trucks">Trucks <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shipments">Shipments</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/truckstore">Truck store</a>
            </li>
            <li class="nav-item active" id="balanceItem">
                <span class="nav-link" th:text="${balance}">Balance</span>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right" id="rightDropdown">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span th:text="${username}">UserNickName</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="logout" href="/logout">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div th:switch="${trucks}">
    <h2 th:case="null">You have no trucks in garage</h2>
    <div th:case="*">
        <table class="table table-hover trucksTable">
            <thead>
            <tr class="headT">
                <th class="truckHead" scope="col">Model</th>
                <th class="truckHead" scope="col">Category</th>
                <th class="truckHead" scope="col">Max. load</th>
                <th class="truckHead" scope="col">Status</th>
                <th class="truckHead" scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="truck : ${trucks}">
                <td class="truckContent" th:text="${truck.model}"></td>
                <td class="truckContent" th:text="${truck.category}"></td>
                <td class="truckContent" th:text="${truck.maxLoad}"></td>
                <td class="truckContent" th:text="${truck.status}"></td>
                <td class="truckContent">
                    <span>
                        <a th:href="@{truck-details/{id}(id=${truck.id})}" class="btn btn-primary btn-sm detailsButton">Details</a>
                    </span>
                    <span th:switch="${truck.status}">
                        <span th:case="'Available'">
                            <a th:href="@{create-shipment/{id}(id=${truck.id})}"
                               class="btn btn-primary btn-sm" id="newShipmentButton" role="button"
                               aria-pressed="true">New shipment</a>
                        </span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="detailsModal">
    <div class="modal fade" id="truckDetails" tabindex="-1" role="dialog" aria-labelledby="truckDetails" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Truck details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body dModal">
                    <form>
                        <input class="form-control" hidden="hidden" type="text"
                               id="truckId"
                               readonly>
                        <div class="form-group row">
                            <label for="fuelConsumption" class="col-sm-6 col-form-label">Fuel consumption</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" placeholder="Fuel consumption"
                                       id="fuelConsumption"
                                       readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mileage" class="col-sm-6 col-form-label">Total mileage</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" placeholder="Total mileage"
                                       id="mileage"
                                       readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="currentLocation" class="col-sm-6 col-form-label">Current location</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" placeholder="Current location"
                                       id="currentLocation"
                                       readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mileageBeforeService" class="col-sm-6 col-form-label">Mileage before service</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" placeholder="Mileage before service"
                                       id="mileageBeforeService"
                                       readonly>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-danger" role="alert" id="incorrectStatus">
                        This truck is on the way now, you can't sell or service it
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary sellButton">Sell</button>
                        <button type="button" class="btn btn-secondary serviceButton">Service</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="closeModalButton">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function (){
        $('#incorrectStatus').hide();

        $('.trucksTable .detailsButton').on('click', function (event) {
            $('#incorrectStatus').hide();
            event.preventDefault();
            var href = $(this).attr('href');

            $.get(href,function (detail){
                $('.detailsModal #truckId').val(detail.truckId);
                $('.detailsModal #fuelConsumption').val(detail.fuelConsumption);
                $('.detailsModal #mileage').val(detail.mileage);
                $('.detailsModal #currentLocation').val(detail.currentLocationText);
                $('.detailsModal #mileageBeforeService').val(detail.mileageBeforeService);
            });

            $('.detailsModal #truckDetails').modal();
        });

        $('.detailsModal .sellButton').on('click', function (event) {
            var truckId = $('.detailsModal #truckId').val();
            var checkTruckStatusLink = "check-truck-status/" + truckId;
            var sellTruckLink = "sell-truck";

            $.get(checkTruckStatusLink,function (response){
                if (response == true) {
                    $.ajax({
                        type:"POST",
                        url: sellTruckLink,
                        data: {truckId: truckId},
                        success: function(result){
                            $(window).attr('location','/trucks')
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert("An error occurred during truck sell");
                        }
                    });
                } else {
                    $('#incorrectStatus').show();
                }
            });
        });

        $('.detailsModal .serviceButton').on('click', function (event) {
            var truckId = $('.detailsModal #truckId').val();
            var checkTruckStatusLink = "check-truck-status/" + truckId;
            var serviceTruckLink = "service-truck";

            $.get(checkTruckStatusLink,function (response){
                if (response == true) {

                    $.ajax({
                        type:"POST",
                        url: serviceTruckLink,
                        data: {truckId: truckId},
                        success: function(result){
                            if (result == true) {
                                $(window).attr('location','/trucks')
                            } else {
                                alert("Not enough balance to service");
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert("An error occurred during truck service");
                        }
                    });

                } else {
                    $('#incorrectStatus').show();
                }
            });
        });

    });
</script>

</body>
</html>

<style>
    #rightDropdown {
        padding-right: 10%;
    }

    .dropdown-item:hover {
        background-color: #ffc396;
    }

    .nav-item:hover {
        background-color: #ff995c;
    }

    #logout {
        background-color: #ff613f;
    }

    #logoBox {
        padding-bottom: 6px;
    }

    #balanceItem:hover {
        background-color: #f48024;
    }

    #balanceItem {
        padding-left: 150px;
    }

    .truckHead {
        text-align: center;
        background-color: #cdcdcd;
    }

    .truckContent {
        text-align: center;
    }

    .btn-primary {
        background-color: #ff995c;
    }

    .btn-primary:hover {
        background-color: #f48024;
    }

</style>